<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.minsnail.flood">
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/six"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CurrentFloodActivity"></activity>
        <activity android:name=".activity.FloodParticularsActivity"></activity>
        <activity android:name=".activity.WorkTaskActivity"></activity>
        <activity android:name=".activity.WorkTaskParticularsActivity"></activity>
        <activity android:name=".activity.ObjectAttributesActivity"></activity>
        <activity android:name=".activity.SettingActivity"></activity>
        <activity android:name=".activity.SMSActivity"></activity>
        <activity android:name=".activity.ContactActivity"></activity>
        <activity android:name=".activity.PreRecordActivity"></activity>
        <activity android:name=".activity.FileReaderActivity"></activity>
        <activity android:name=".activity.FloodReliefActivity"></activity>
        <activity android:name=".activity.FloodSummaryActivity"></activity>
        <activity android:name=".activity.AddressGroupActivity"></activity>
        <activity android:name=".activity.SelectItemActivity"></activity>
        <activity android:name=".activity.SortedContactActivity"></activity>
        <activity android:name=".activity.MeteorologicalActivity"></activity>
        <activity android:name=".activity.BrowserActivity"></activity>
        <activity android:name=".activity.RainActivity"></activity>
        <activity android:name=".activity.RainColumnChartActivity"></activity>
        <activity android:name=".activity.WaterActivity"></activity>
        <activity android:name=".activity.WaterLineChartActivity"></activity>

    </application>

</manifest>